/target
/.idea
/atomikos
/logs
/statistics
ehborder/target/
ehnextgen-api/target/
ehnextgen-forum/target/
ehnextgen-messaging/target/
ehtest-integration/target/
*.gitignore
*.classpath
*.settings
*.project
*.iml

ehcore/atomikos
ehrest/target
.gitignore
hs_err_pid*
ehborder/.gitignore
ehcore.log*
cscope.*
tags

build.sh
gen

ehcore/core-server.*log
ehcore/core-server-rest.*log
ehrest-response/target/
core-server.*log
core-server-rest.*log
ehcore/output

ehcore/statistics
/bin/
ehcore/src/main/config/ehcore_custom.yml
ehcore/logs

ehrest/src/test/java/com/everhomes/generate

ehtest-integration/src/test/config/ehcore.properties

/ehcore/src/test/java/com/everhomes/generate

ehborder/pom.xml
ehcore/pom.xml
ehcore/pom.xml.template
ehcore-persist/pom.xml
ehnextgen-api/pom.xml
ehnextgen-forum/pom.xml
ehnextgen-messaging/pom.xml
ehrest/pom.xml
ehrest-respios/pom.xml
ehrest-response/pom.xml
ehtest-integration/pom.xml
oauth2-client/pom.xml
pom.properties

*.xml.bak
*rebel.xml
