#
# Core service configuration
#
logging.path: ./
logging.file: ehcore.log
logging.level: DEBUG

#spring.view.prefix: /WEB-INF/jsp/
#spring.view.suffix: .jsp

#
# Server configuration
#

#server.address:
#server.port:
#server.sessionTimeout:

upload.max.size: 10000000
heartbeat.interval: 10000
scheduler.pool.size: 100

#
# Server production management/monitoring configuration
# server management URL
#   http://<management.address>:<management.port>/<mangement.context_path>/<endpoint name>
# JMX management URL
#   http://<management.address>:<management.port>/<mangement.context_path>/jolokia
#
security.basic.enabled: false
security.user.name: admin
security.user.password: password

endpoint.health.enabled: true
endpoint.autoconfig: true
endpoint.dump: true
endpoint.metrics: true
endpoint.configprops: true
endpoint.beans: true
endpoint.trace: true
endpoint.mappings: true
            
management.security.enabled: false
management.security.role: SUPERUSER
management.context-path: /manage
management.port: 8082

spring.jmx.enabled: true
endpoints.jmx.domain: ehcore
endpoints.jmx.uniqueNames: true

jolokia.config.debug: true
endpoints.jolokia.enabled: true

#
# Messaging
#
messaging.msgbox.size: 1000
messaging.batch.size: 1000
messaging.routing.block.size: 1000

forum.postbox.size: 1000
forum.flush.interval: 3000

#
# Redis configuration
#
redis: 
    bus:
        host: redis-server
        port: 6379
    store:
        master:
            host: redis-server
            port: 6379

#
# Database configuration
#
db:
    driver: com.mysql.jdbc.Driver
    master: jdbc:mysql://ehcore:ehcore@127.0.0.1:3306/ehcore
    conn:
        pool: 128
    tx:
        timeout: 600
        
