#
# Core service configuration
#
logging.path: ./
logging.file: ehcore.log
logging.level.: INFO

#spring.view.prefix: /WEB-INF/jsp/
#spring.view.suffix: .jsp

#
# Server configuration
#

#server.address:
#server.port:
#server.sessionTimeout:

upload.max.size: 10000000
heartbeat.interval: 10000
scheduler.pool.size: 100

#
# Server production management/monitoring configuration
# server management URL
#   http://<management.address>:<management.port>/<mangement.context_path>/<endpoint name>
# JMX management URL
#   http://<management.address>:<management.port>/<mangement.context_path>/jolokia
#
security.basic.enabled: false
security.user.name: admin
security.user.password: password

endpoint.health.enabled: true
endpoint.autoconfig: true
endpoint.dump: true
endpoint.metrics: true
endpoint.configprops: true
endpoint.beans: true
endpoint.trace: true
endpoint.mappings: true
            
management.security.enabled: false
management.security.role: SUPERUSER
management.context-path: /manage
management.port: 8082

spring.jmx.enabled: true
endpoints.jmx.domain: ehcore
endpoints.jmx.uniqueNames: true

jolokia.config.debug: true
endpoints.jolokia.enabled: true

spring.freemarker.check-template-location: false

#
# Messaging
#
messaging.msgbox.size: 1000
messaging.batch.size: 1000
messaging.routing.block.size: 1000

#
# iOS cert
#
apns.certname: apns-develop

forum.postbox.size: 1000
forum.flush.interval: 3000

javadoc.root: http://localhost:8080/apidocs
javadoc.location: file:///Users/kelveny/archive/ehng/apidocs/
web.location: /resources/

#
# Redis configuration
#
redis: 
    bus:
        host: redis-cache
        port: 6379
    store:
        master:
            host: redis-server
            port: 6379

#
# Database configuration
#
db:
    driver: com.mysql.jdbc.Driver
    master: jdbc:mysql://ehcore:ehcore@db-master:3306/ehcore?characterEncoding=UTF-8
    conn:
        pool: 8
        borrow:
            timeout: 60
    jta: true
    tx:
        timeout: 600
        
#
# ElasticSearch configuration
#
elastic:
    nodes:
        hosts: elasticsearch
        ports: 9300
        
#
# for API code generation
#
serialization.serializable: EvhJsonSerializable
serialization.helper: EvhJsonSerializationHelper

objc.header.ext: .h
objc.source.ext: .m
objc.response.base: EvhRestResponseBase

class.name.prefix: Evh

source.jars: /Users/kelveny/archive/ehng/ehrest/target/ehrest-0.0.1-SNAPSHOT.jar
source.excludes: com.everhomes.rpc.*, com.everhomes.rest.RestResponse, com.everhomes.rest.RestResponseBase, com.everhomes.rest.RestVersion
destination.dir: /Users/kelveny/archive/ehng-ios/API-objects/
destination.dir.java: /Users/kelveny/archive/ehng/ehrest-response/src/main/java/

        
