# # Core service configuration # logging.path: ./ logging.file: ehcore.log logging.level.: INFO #spring.view.prefix: /WEB-INF/jsp/ #spring.view.suffix: .jsp # # Server configuration # #server.address: #server.port:
#server.sessionTimeout:

#server.port: 8443
#server.ssl.key-store:keystore.p12
#server.ssl.key-store-password: password
#server.ssl.keyStoreType: PKCS12
#server.ssl.keyAlias: tomcat

#
# Uncommit follow to use a different context path other than /
#
server.contextPath: /evh


upload.max.size: 10000000
heartbeat.interval: 10000
scheduler.pool.size: 100

#
# Server production management/monitoring configuration
# server management URL
#   http://<management.address>:<management.port>/<mangement.context_path>/<endpoint name>
# JMX management URL
#   http://<management.address>:<management.port>/<mangement.context_path>/jolokia
#
security.basic.enabled: false
security.user.name: admin
security.user.password: password

endpoint.health.enabled: true
endpoint.autoconfig: true
endpoint.dump: true
endpoint.metrics: true
endpoint.configprops: true
endpoint.beans: true
endpoint.trace: true
endpoint.mappings: true
            
management.security.enabled: false
management.security.role: SUPERUSER
management.context-path: /manage
management.port: 8080

spring.jmx.enabled: true
endpoints.jmx.domain: ehcore
endpoints.jmx.uniqueNames: true

jolokia.config.debug: true
endpoints.jolokia.enabled: true

spring.freemarker.check-template-location: false

#
# Messaging
#
messaging.msgbox.size: 1000
messaging.batch.size: 1000
messaging.routing.block.size: 1000

#
# iOS cert
#
apns.certname: apns-develop

forum.postbox.size: 1000
forum.flush.interval: 3000

javadoc.root: http://alpha.lab.everhomes.com/evh/static/apidocs
javadoc.location: file:///Users/kelveny/archive/ehng/apidocs/
web.location: /resources/

#
# Redis configuration
#
redis.bus.host:  10.1.120.64
redis.bus.port: 6380
redis.store.master.host:  10.1.120.64
redis.store.master.port: 6380

#
# Database configuration
#

db:
    driver: com.mysql.jdbc.Driver
    master: jdbc:mysql://root:123456@10.1.120.99:13364/ehcore?characterEncoding=UTF-8&encrypted=0
    conn:
        pool: 100
        borrow:
            timeout: 60
    jta: false
    tx:
        timeout: 600

#
# ElasticSearch configuration
#
elastic:    
    index: everhomesv3
    nodes:
        hosts:  10.1.120.64
        ports: 9300
        httpports: 9200
cluster.name: elasticsearch64
#
# for API code generation
#
serialization.serializable: EvhJsonSerializable
serialization.helper: EvhJsonSerializationHelper

objc.header.ext: .h
objc.source.ext: .m
objc.response.base: EvhRestResponseBase

biz.serverUrl: http://biz-beta.zuolin.com/zl-ec
biz.appKey: 39628d1c-0646-4ff6-9691-2c327b03f9c4
biz.secretKey: PSsIB9nZm3ENS3stei8oAvGa2afRW7wT+UxBn9li4C7JCfjCtHYJY6x76XDtUCUcXOUhkPYK9V/5r03pD2rquQ==

#cluster.name: elasticsearch39

class.name.prefix: Evh


source.jars: ${EVH_HOME}/ehrest/target/ehrest-0.0.1-SNAPSHOT.jar
source.excludes: com.everhomes.rpc.*, com.everhomes.rest.RestResponse, com.everhomes.rest.RestResponseBase, com.everhomes.rest.RestVersion
destination.dir: ${EVH_IOS_HOME}/API-objects/
destination.dir.java: ${EVH_HOME}/ehrest-response/src/main/java/

src.path: /data1/ehserver/server/core 
equipment.ip: 127.0.0.1

#A1234567890Z为测试账号
ems.sys.account: A1234567890Z
ems.sys.password: Test123456

schedule.running.flag: 1


#nashorn.class.includes: java.lang.*, java.util.*, java.io.*, com.everhomes.oauth2client.handler.RestCallTemplate, com.everhomes.flow.NashornApiService, com.everhomes.flow.NashornConfigService

nashorn.class.includes:
  java.lang.*, java.util.*, java.io.*,
  com.everhomes.oauth2client.handler.RestCallTemplate,
  com.everhomes.scriptengine.nashorn.NashornApiService,
  com.everhomes.flow.FlowNashornConfigService

spring.kafka:
  enabled: false 
  bootstrap-servers:  10.1.120.64:19092 # kafka的ip:port
  properties:
    request.timeout.ms: 20000
  producer:
    retries: 0
    batch-size: 16384
    buffer-memory: 33554432
    key-serializer: org.apache.kafka.common.serialization.StringSerializer
    value-serializer: org.apache.kafka.common.serialization.StringSerializer
  consumer:
    group-id: ${spring.application.name}-group
    auto-offset-reset: earliest
    enable-auto-commit: true
    auto-commit-interval: 100
    key-serializer: org.apache.kafka.common.serialization.StringSerializer
    value-serializer: org.apache.kafka.common.serialization.StringSerializer

spring:
    application:
        name: ehcore

server:
  port: 8080
eurekacli:
    enabled: false
    service-url: http:// 10.1.120.64:8880/eureka/ # 注册中心链接
    instance-id: ${server.address}:${spring.application.name}:${server.port}
    leaseRenewalIntervalInSeconds: 10
    leaseExpirationDurationInSeconds: 30


