<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <appender name="filelog"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/core-server.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%logger{36}] [%X{seq}] [%X{uid}] [%X{uri}] - %msg%n
            </Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>logs/core-server.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <appender name="messagelog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/message.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %msg%n
            </Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover monthly -->
            <fileNamePattern>logs/message.%d{yyyy-MM}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%logger{36}] [%X{seq}] [%X{uid}] [%X{uri}] - %msg%n
            </Pattern>
        </layout>
    </appender>

    <logger name="com.everhomes.util.MessagePersistWorker" level="INFO" additivity="false">
        <appender-ref ref="messagelog"/>
    </logger>

    <logger name="com.everhomes" level="DEBUG" additivity="false">
        <appender-ref ref="console"/>
        <appender-ref ref="filelog"/>
    </logger>

    <logger name="statisticslog" level="DEBUG" additivity="false">
        <appender-ref ref="console"/>
        <appender-ref ref="filelog"/>
    </logger>

    <logger name="schedulelog" level="INFO" additivity="false">
        <appender-ref ref="console"/>
        <appender-ref ref="filelog"/>
    </logger>

    <logger name="com.everhomes.bus.LocalBusMessageClassRegistry" level="INFO"/>
    <logger name="com.everhomes.util.ReflectionHelper" level="INFO"/>

    <logger name="org.apache" level="WARN"/>
    <logger name="com.atomikos" level="WARN"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.elasticsearch.client.transport" level="ERROR"/>
    <logger name="org.apache.tomcat.util.scan.StandardJarScanner" level="ERROR"/>

    <root level="ERROR">
        <appender-ref ref="console"/>
        <appender-ref ref="filelog"/>
    </root>
</configuration>