@keyframes bounce {
    33% { transform: translateY(-20px); }
    66% { transform: translateY(0px); }
}

.bounce {
    animation: bounce 1s infinite ease-in-out;
}

.header {
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0px 8px 0px 16px;
    font-size: 14pt;
    font-weight: bold;
    background: linear-gradient(white, lightgray);
    color: darkblue;
    text-align: left;
}

.header a {
    display: inline-block;
    float: right;
    margin: auto 8px;
    text-decoration: none;
}

.inputForm {
    width: 800px;
    margin-top: 20px;
    border-width: 2px;
    border-style: outset;
    border-color: white lightgray lightgray white;
    border-collapse: collapse;
}

.inputRowEven {
    background-color: #f8fff7;
}

.inputRowOdd {
    background-color: #f2faff;
}

.inputFullCol {
    text-align: center;
    border-width: thin;
    border-style: solid;
    border-color: gray;
    font-weight: bold;
}

.inputLabelCol {
    width: 200px;
    text-align: right;
    padding: 4px 2px;
}

.inputValueCol {
    text-align: left;
    padding: 4px 8px 4px 2px;
}

.consoleBox {
    overflow: auto;
    padding: 8px 0px 0px 0px;
    height: 100%;
    white-space: normal;
}

.consoleBox p {
    padding: 2px 6px;
    word-break: break-all;
}

.navBox {
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: auto;
}

.navBox ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.navBox li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.navBox li a.active {
    background-color: #4CAF50;
    color: white;
}

.navBox li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.serverConsoleBox {
    width: 100%;
    height: 100%;
}

.serverConsoleBox textarea {
    padding: 4px;
}

.serverConsoleBox textarea:focus {
    outline: none !important;
}
