@keyframes bounce {
    33% { transform: translateY(-20px); }
    66% { transform: translateY(0px); }
}

.bounce {
    animation: bounce 1s infinite ease-in-out;
}

.header {
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0px 8px;
    font-size: 14pt;
    font-weight: bold;
    background: linear-gradient(white, lightgray);
    color: darkblue;
    text-align: center;
}

.inputForm {
    width: 800px;
    margin-top: 20px;
    border-width: 2px;
    border-style: outset;
    border-color: white lightgray lightgray white;
    border-collapse: collapse;
}

.inputRowEven {
    background-color: #f8fff7;
}

.inputRowOdd {
    background-color: #f2faff;
}

.inputFullCol {
    text-align: center;
    border-width: thin;
    border-style: solid;
    border-color: gray;
    font-weight: bold;
}

.inputLabelCol {
    width: 200px;
    text-align: right;
    padding: 4px 2px;
}

.inputValueCol {
    text-align: left;
    padding: 4px 8px 4px 2px;
}

.consoleBox {
    overflow: auto;
    padding: 8px 0px 0px 0px;
    height: 100%;
    white-space: normal;
}

.consoleBox p {
    padding: 2px 6px;
    word-break: break-all;
}
